@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /* Sizes*/
  --s-8: 0.5rem;
  --s-16: 1rem;
  --s-24: 1.5rem;
  --s-32: 2rem;
  --s-40: 2.5rem;
  --s-48: 3rem;
  --s-64: 4rem;
  --s-80: 5rem;
}

.question-amswer {
  display: flex;
  justify-content: space-between;
  height: var(--s-32);
}

.question {
  padding-bottom: var(--s-24);
}

.arrow {
  float: right;
  width: var(--s-16);
  height: var(--s-16);
}
.answer {
  display: none;
}
