@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /* Sizes*/
  --s-8: 0.5rem;
  --s-16: 1rem;
  --s-24: 1.5rem;
  --s-32: 2rem;
  --s-40: 2.5rem;
  --s-48: 3rem;
  --s-64: 4rem;
  --s-80: 5rem;
}

.question-inactive {
  color: hsl(240, 6%, 50%);
  font-size: 12px;
}

.question-active {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
  border: none;
}

.arrow-active {
  transform: scaleY(-1);
}

.answer {
  display: none;
}

.answer-active {
  display: block;
  color: hsl(240, 6%, 50%);
  font-size: 12px;
  max-width: 330px;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}
